.formularioTitulo {
    text-transform: capitalize;
    color: var(--primary);
    text-align: center;
    margin: 1rem auto 2rem
  }

.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}

.tabela {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    &-cabecalho {
        color: var(--primary);

        &-conteudo {
            padding: 10px;
            border-bottom: 2px solid var(--primary);
        }
    }

    &-linha {
        margin-bottom: 10px;
        border-radius: 4px;

        &:last-child {
            .tabela-conteudo {
                border-bottom: none;
            }
        }
        &-conteudo {
            padding: 10px;
            border-bottom: 1px solid var(--cinza-claro);
        }
    }

}
